<!-- Proyectos -->
<section class="mt-4">
    <!-- Título -->
    <h2 class="text-center">Proyectos</h2>

    <!-- Card container -->
    <div class="row justify-content-center justify-content-md-evenly mb-5 mt-3 px-3 px-lg-0">
        <!-- Proyecto -->
        <app-proyecto 
        class="col-md-5 col-lg-3 my-3 mx-1"
        *ngFor="let proyecto of proyectos"
        [titulo]="proyecto.titulo"
        [descripcion]="proyecto.descripcion"
        [tecnologias]="proyecto.tecnologias"
        [imagen]="proyecto.imagen"
        [enlacePagina]="proyecto.enlacePagina"
        [enlaceCodigo]="proyecto.enlaceCodigo"></app-proyecto>        
    </div>
</section>