<!-- Sobre mí -->
<section class="mt-4">
    <!-- Título -->
    <h2 class="text-center">Sobre mí</h2>
    <!-- Contenedor -->
    <div class="jumbotron d-flex flex-column flex-lg-row align-items-center justify-content-lg-start p-4">
        <!-- Imagen -->        
        <img class="img-fluid image-profile mb-3 mb-lg-0" src="../../../../assets/images/david-profile-round.jpg" alt="Profile Img"> 
        <!-- Jumbotron -->
        <div class="flex-grow-1 ms-4">
            <h4 class="mi-nombre">David Castrillón Lladós</h4>
            <p class="texto">Desde hace muchos años he tenido un interés particular por la informática, sobre todo por la programación. Siempre he sentido curiosidad por lo que hay detrás de una página web y la lógica que determina su funcionamiento y, cuando veía a alguien programar, deseaba poder comprender su código y poder desarrollar el mío propio.                
            </p>
            <p class="texto">En el año 2021 decido tomar un cambio de rumbo en mi carrera profesional y reorientar mi perfil hacia el sector IT, concretamente en el Desarrollo Web.
            </p>
            <hr class="border border-1 border-dark">
            <p class="texto">Me considero una persona con capacidad de planificación y organización, a la que le gusta trabajar en equipo, adaptable a los cambios, orientada al cliente y con ganas de asumir nuevos retos profesionales.
            </p>
        </div>       
    </div>
</section>

<!-- Formación IT -->
<section class="mt-4">
    <!-- Título -->
    <h2 class="text-center">Formación IT</h2>
    <!-- Contenedor -->
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
        <div class="jumbotron-coloured" id="azul">
            <div class="row">
                <h4 class="col-8">Bootcamp Front-End Angular</h4>
                <span class="col-4 text-end">2021</span>
            </div>
            <h6>IT Academy - Barcelona Activa</h6>
            <p class="texto mt-4">Bootcamp de Barcelona Activa centrado en el Desarrollo Front-End mediante Angular. Compuesto por los siguientes módulos:
            </p>
            <div class="d-flex justify-content-evenly">
                <ul>
                    <li>Git y GitHub</li>
                    <li>Análisis de Proyecto</li>
                    <li>HTML y CSS</li>
                    <li>Flex Layout</li>
                    <li>Animación CSS</li>
                    <li>SASS</li>
                    <li>Bootstrap</li>                    
                </ul>
                <ul>                    
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Bases de Datos MySQL</li>
                    <li>JQuery y AJAX</li>
                    <li>Leaflet - Mapas</li>
                    <li>Angular</li>
                </ul>
            </div>
            

        </div>
        <div class="jumbotron-coloured" id="verde">
            <div class="row">
                <h4 class="col-8">CFGS Desarrollo Aplicaciones Web</h4>
                <span class="col-4 text-end">2021 - Actualmente</span>
            </div>
            <h6>IOC - Institut Obert de Catalunya</h6>
            <p class="texto mt-4">Cursando a distancia el Ciclo Formativo de Grado Superior en el IOC. Iniciado en septiembre de 2021.
            </p>
        </div>        
    </div>
</section>

<!-- Formación IT -->
<section class="mt-4">
    <!-- Título -->
    <h2 class="text-center">Bla Bla</h2>
    <!-- Contenedor -->
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
        
    </div>
</section>
