/* Imports */
@import "../scss-components/color"; //Paleta de colores
@import "../scss-components/tipografia"; //Tipografia

nav {
  background-color: $softPrimary;

  //Título de la página
  .navbar-brand {
    font-family: $titulos;
    font-size: 25px;
    color: $textoTitulos;
    letter-spacing: 2px;
  }

  //Botón hamburguesa
  .navbar-toggler {
    color: $contrast;
  }

  //Links de navegación
  .nav-link {
    font-family: $cuerpo;
    // border-bottom: 3px solid transparent;
    position: relative;
  }

  //Pseudoelemento after (escondido, width 0)
  .nav-link::after {
    content: "";
    position: absolute;
    background-color: $contrast;
    height: 2.5px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
  }

  //On hover, pseudoelemento width al 100%
  .nav-link:hover:after {
    width: 100%;
  }

  //Cuando los links estén activos
  .active::after {
    // border-bottom: 3px solid $contrast;
    content: "";
    position: absolute;
    background-color: $contrast;
    height: 2.5px;
    width: 100%;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
  }
}
