/* Imports */
@import "../scss-components/color"; //Paleta de colores
@import "../scss-components/tipografia"; //Tipografia

nav {
  background-color: $softPrimary;

  //Título de la página
  .navbar-brand {
    font-family: $titulos;
    font-size: 25px;
    color: $textoTitulos;
    // text-shadow: 0 0 10px $contrast, 0 0 20px $contrast, 0 0 30px $contrast,
    //   0 0 40px $contrast, 0 0 50px $contrast, 0 0 60px $contrast,
    //   0 0 70px $contrast;
    letter-spacing: 2px;
  }

  //Botón hamburguesa
  .navbar-toggler {
    color: $contrast;
  }

  //Links de navegación
  .nav-link {
    font-family: $cuerpo;
    border-bottom: 3px solid transparent;
  }

  //Cuando los links estén activos
  .active {
    border-bottom: 3px solid $contrast;
    // text-shadow: 0 0 10px $contrast, 0 0 20px $contrast, 0 0 30px $contrast,
    //   0 0 40px $contrast, 0 0 50px $contrast, 0 0 60px $contrast,
    //   0 0 70px $contrast;
  }
}
