<section class="mt-4" [@cargarPagina]>
    <!-- Título -->
    <h2 class="text-center">Contacto</h2>

    <!-- Jumbotron -->
    <div class="jumbotron p-4 mb-4">                   
        <p class="texto text-center">Puedes ponerte en contacto conmigo a través del siguiente formulario y te responderé a la mayor brevedad. Estaré encantado de resolver cualquier duda o pregunta que puedas tener. 
        <span class="text-danger d-block mt-2"> ¡Atención! El formulario está inactivo y no se enviará el correo electrónico. </span>
        </p>        
    </div>

    <!-- Formulario -->
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <app-formulario 
                (onMostrarMensaje)="onMostrarMensaje()"
            >
            </app-formulario>            
        </div>
    </div>

    <!-- Caja mensaje: solo se mostrará si mostrar es true -->
    <app-mensaje-modal 
    *ngIf="mostrar"
    (onEliminarMensaje)="onEliminarMensaje()"></app-mensaje-modal>
</section>
