<section class="mt-4">
    <!-- Título -->
    <h2 class="text-center">Contacto</h2>

    <!-- Jumbotron -->
    <div class="jumbotron p-4 mb-4">                   
        <p class="texto text-center">Puedes ponerte en contacto conmigo a través del siguiente formulario y te responderé a la mayor brevedad. Estaré encantado de resolver cualquier duda o pregunta que puedas tener.
        </p>        
    </div>

    <!-- Formulario -->
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <app-formulario></app-formulario>            
        </div>
    </div>

    <!-- Caja mensaje -->
    <app-mensaje-modal></app-mensaje-modal>
</section>
