/* Paleta de colores */
// $hardBlue: #767ea8; //A #cca027
// $newWhite: #f5f6fd; //B #f5f6fd
// $softBlue: #c4ccf4; //C #f4e5c4
// $hardBrown: #a89865; //D #041129
// $softBrown: #f5e9c4; //E #1b2753

$textoTitulos: rgb(73, 73, 73);
$footerText: rgb(94, 93, 93);

$hardPrimary: #2b6777;
$softPrimary: #c8d8e4;
$contrast: #52ab98;
$card: #f2f2f2;
$fondo: #ffffff;
