/* Imports */
@import "./color"; //Paleta de colores
@import "./tipografia"; //Tipografia

/* Mixin para los headers de cada apartado (sobre mí, formación, etc) */
@mixin section-header {
  font-family: $titulos;
  color: $textoTitulos;
  border-bottom: 3px solid $hardPrimary;
  padding-bottom: 7px;
  margin-bottom: 25px;
}

/* Mixin para jumbotron en sobre mí */
@mixin jumbotron-coloured {
  padding: 25px;
  font-family: $cuerpo;
}

@mixin boton {
  background-color: $contrast;
  color: $fondo;
  font-family: $cuerpo;
  letter-spacing: 0.7px;
}

@mixin boton-hover {
  background-color: $hardPrimary;
}
