<div 
    class="modal-container"
    >
    <div class="modal-dialog">
        <div 
        class="modal-content"        
        [ngClass]="{'rojo': rojo}">
            <div class="modal-header border-bottom-0">                
                <button 
                (click)="eliminarMensaje()"
                type="button" 
                class="btn-close" 
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ mensaje }}</p>
            </div>
        </div>
    </div>
</div>

