/* Imports */
@import "../scss-components/color"; //Paleta de colores
@import "../scss-components/tipografia"; //Tipografia

.links {
  background-color: $softPrimary;
  font-family: $cuerpo;

  h6 {
    font-family: $titulos;
    letter-spacing: 1px;
  }

  //Logos de RRSS
  .rrss-container {
    border: 3px solid $footerText;
    border-radius: 50%;

    fa-icon {
      font-size: 25px;
      color: $footerText;
    }
  }
  .rrss-container:hover {
    border-color: $contrast;
    background-color: $contrast;

    fa-icon {
      color: $hardPrimary;
    }
  }

  //Tecnologias
  .tecnologias {
    font-size: 35px;
    color: $footerText;
  }
}

.under-footer {
  background-color: $hardPrimary;

  p {
    font-family: $titulos;
    font-size: 17px;
    letter-spacing: 2px;
    color: $fondo;
  }
}

.text-footer {
  color: $footerText;
}

.footer-nav-links:hover {
  color: $hardPrimary;
}
