/* Imports */
@import "../scss-components/color"; //Paleta de colores
@import "../scss-components/tipografia"; //Tipografia

.links {
  background-color: $softBrown;
  font-family: $cuerpo;

  h6 {
    font-family: $titulos;
    letter-spacing: 1px;
  }

  //Logos de RRSS
  .rrss-container {
    border: 3px solid $logosInactivos;
    border-radius: 50%;

    fa-icon {
      font-size: 25px;
      color: $logosInactivos;
    }
  }
  .rrss-container:hover {
    border-color: $softBlue;
    background-color: $softBlue;

    fa-icon {
      color: $hardBrown;
    }
  }

  //Tecnologias
  .tecnologias {
    font-size: 35px;
    color: $logosInactivos;
  }
}

.under-footer {
  background-color: $hardBrown;

  p {
    font-family: $titulos;
    font-size: 17px;
    letter-spacing: 2px;
    color: $newWhite;
  }
}
